@import url(./null.css);

body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}


.to-do__wrap {
	margin-top: 50px;
	width: 60%;
	height: auto;
	background-color: rgb(236, 236, 236);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 20px 0px #9c9c9c;
}

.to-do__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-header {
	font-size: 60px;
	font-weight: 700;
	color: rgb(0, 162, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;

}

.to-do__list-container {
	width: 100%;
}

.list-clear-wrap {
	margin-top: 40px;
	margin-bottom: 40px;

}

.list-clear {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 30px;
}



.create-task__container {
	display: flex;
	flex-direction: column;
}



.add-new-task {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 30px;
	display: flex;
	align-items: center;
}

.input-task {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.btn-add-task {
	width: 200px;
	height: 40px;
	color: white;
	background-color: rgb(0, 162, 255);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease 0.3s;
	cursor: pointer;
	box-sizing: border-box;
}

.btn-add-task:hover {
	background-color: rgb(0, 119, 255);
}

.task_container {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
}

.background {
	background-color: rgba(0, 112, 0, 0.137);
}

.task_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	width: 100%;
	flex-wrap: wrap;
}

.counter-tasks {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
}

.icons {
	cursor: pointer;
	transition: all ease 0.3s;

}

.task-btns {
	display: flex;
	width: 100%;
	justify-content: end;
}

.task-text-content {
	width: 100%;
}

.task-text {
	word-break: break-all;
}

.icons:hover {
	opacity: 0.8;
}

.icon {
	margin-left: 10px;
}

.none {
	display: none;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-remove-task {
	box-sizing: border-box;
	margin-left: 10px;
	width: 300px;
	height: 20px;
	color: white;
	background-color: rgb(88, 88, 88);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease 0.3s;
	cursor: pointer;
}

.btn-remove-task:hover {
	background-color: rgb(105, 0, 0)
}

@media (max-width: 768px) {
	.to-do__wrap {
		width: 80%;
	}

	.buttons {
		flex-direction: column;
	}

	.btn-remove-task {
		width: 100%;
		margin-left: 0;
	}

	.btn-add-task {
		width: 100%;
	}

}

@media (max-width: 425px) {
	.list-header {
		font-size: 40px;
	}

	.to-do__wrap {
		width: 80%;
		margin: 10px;
	}

	.counter-tasks {
		font-size: 20px;
	}

	.list-clear {
		font-size: 20px;
	}

	.add-new-task {
		font-size: 20px;
	}

	.btn-remove-task {
		font-size: 15px;
	}

	.icons {
		width: 30px;
	}
}
